<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Fund Transfer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
.error {
	color: red;
	font-weight: bold;
	font-size: 18px;
}

.ffooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	height: 30px;
	background-color: #e9ffe7;
}

</style>

<script th:inline="javascript">
  
  function loadData(){
	  
	  /*<![CDATA[*/
var username = /*[[${session.userSessionVO.username}]]*/;
/*]]>*/
//When page is loaded then this method will be called
fetch("/v3/customer/from-to-accounts?loginid="+username).then(response=>response.json()).then(function(data){
      console.log(data);     
      $("#fromAccount").append($("<option />").val(data.fromAccount).text(data.fromAccount));
      var arrayData=data.toAccounts;
      for(var x=0;x<arrayData.length;x++) {
          $("#toAccount").append($("<option />").val(arrayData[x]).text(arrayData[x]));
      }
      
      $("#cbalance").html(data.currentBalance);
      
});
}

//This code will execute when page is loaded!!!
$(document).ready(function(){

$("#amount").blur(function(){
    var aamount=$(this).val();
    fetch("/v3/amount/words?amount="+aamount)
           .then(response=>response.text()).then(function(data){
                   $("#amountWord").html(data);
    }); //end of the fetch
}); //end of the event

$("#toAccount").change(function(){
      var selectedVal=$(this).val();
      var tokens=selectedVal.split("-");
      var accountNumber=tokens[0].trim();
      $("#cphoto").attr("src","/customers/acphoto?accNumber="+accountNumber);
      
});

loadData();
});


</script>
</head>
<body>

<header style="height: 30px; background-color: #a1c5ea; color: white;"> </header>
&nbsp;

<div class="container">
<div style="text-align: center">

<a th:href="@{/customer/addPayee}">
<button type="button" class="btn btn-primary">Add payee</button>
</a> <a th:href="@{/customer/pendingPayee}">
<button type="button" class="btn btn-success">Pending payee</button>
</a> <a th:href="@{/customer/registeredPayee}">
<button type="button" class="btn btn-warning">My registered payee</button>
</a> <a th:href="@{/customer/fundTransfer}">
<button type="button" class="btn btn-info">Fund Transfer</button>
</a> <a th:href="@{/customer/logout}"><button type="button" class="btn btn-danger">Logout</button></a> <br /> <br />

<div style="width: 100%">

<form th:action="@{/customer/fundTransfer}" method="POST" th:object="${fundTransferVO}" name="fundTransferVOForm">

<div>

<span id="errorMessage" th:utext="${error}" style="color: red; font-size: 14px;"></span> <span id="errorMessage"
th:utext="${successMessage}" style="color: blue; font-size: 14px;"></span> <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Current Balance : <span id="cbalance" style="color: red;"></span>

<table class="table table-bordered" style="width: 100%;">
                        <tr>
                            <td style="width: 50%">
                                <div>
                                    <label for="fromAccount">From Account:
                                    
                                     </label> <br />
                                    <select name="fromAccount" class="form-control" id="fromAccount">
                                    </select>
                                </div>
                            </td>
                            <td style="width: 50%">
                                <div>
                                    <label for="toAccount">To Account:</label> <br /> 
                                    <select name="toAccount" class="form-control" id="toAccount" style="font-weight: bold;">
                                        <option>Select</option>
                                    </select>
                                    <!-- <input
                                        type="text" class="form-control" th:field="*{payeeNickName}"> -->
                                </div>

                            </td>
                        </tr>
                        
                        
                        <tr>
                            <td>

                                <div>
                                    <label for="amount">Amount:</label> <br /> 
                                    <input type="text"
                                         class="form-control" th:field="*{amount}">
                                    <span id="amountWord" style="color:blue;"></span>    
                                </div>
                            </td>
                            <td>
                             &nbsp;
                              <img src="" id="cphoto" style="height: 180px;">
                            </td>
                        </tr>
                        


                        <tr>
                            <td>

                                <div>
                                    <label for="remarks">Remarks:</label> <br /> <input type="text"
                                         class="form-control" th:field="*{remarks}">
                                </div>
                            </td>
                            <!-- <td>
                             &nbsp;
                              <img src="" id="cphoto" style="height: 120px;">
                            </td> -->
                        </tr>

                    </table>



<hr />
<button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
<br />
</form>
</div>
</div>
</div>
<!-- <footer class="ffooter"> </footer> -->

</body>
</html>
